/* General Resets and Styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #f4f7f6;
  color: #333;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

h1, h2, h3 {
  color: #5e6c84;
}

.header-with-button {
  display: flex;
  justify-content: space-between; /* Aligns items on opposite ends (left and right) */
  align-items: center; /* Align items vertically in the center */
  padding: 20px; /* Optional: Adjust based on your design preferences */
  background-color: #ebecf0; /* Optional: Matches the section styling */
}

h2 {
  margin: 0; /* Removes default margin to align title properly */
}

/* Header Styles */
header {
  background-color: hsl(202, 93%, 89%);
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  border-radius: 6px 6px 0 0;
}

/* Section Styling */
section {
  background-color: #ebecf0;
  border-radius: 6px;
  margin-top: 20px;
  padding: 15px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

/* Form Styles */
form {
  background-color: #fff;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

/* Button Styles */
.btn-primary, .btn-report {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.btn-primary {
  min-width: 120px;
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #5aac44;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: #519839;
  box-shadow: 0 2px 3px rgba(0,0,0,0.1);
}

.btn-report {
  background-color: #00c2e0;
  color: white;
}

.btn-report:hover {
  background-color: #14a3c7;
  box-shadow: 0 2px 3px rgba(0,0,0,0.1);
}

/* tags */ 

.checkbox-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  padding: 10px;
  border: 1px solid #ccc; /* Optional, adds a border around the checkbox area */
  border-radius: 5px; /* Optional, rounds the corners of the border */
  margin-bottom: 20px; /* Adds space below the grid */
}

.checkbox-grid label {
  display: flex;
  align-items: center;
  white-space: nowrap; /* Prevents wrapping of labels */
}


/* Modal Styling */
.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fff;
  margin: 5% auto;
  padding: 20px;
  border: none;
  width: 60%; /* Adjust based on your preference */
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #aab7b8;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.form-row {
  margin-bottom: 20px;
}

input[type="text"], select, textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="text"]:focus, select:focus, textarea:focus {
  border-color: #4a90e2;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(74,144,226,0.6);
}

.btn-primary:hover {
  background-color: #0056b3;
}

.checkbox-group {
  margin-bottom: 10px; /* Adds space between each checkbox */
}

fieldset {
  border: none; /* Removes the default fieldset border */
  padding: 0; /* Removes the default padding */
  margin-bottom: 20px; /* Adds some space below the entire fieldset */
}

legend {
  font-size: 16px; /* Sets a specific size for the legend text */
  margin-bottom: 10px; /* Adds space below the legend */
  color: #333; /* Sets the text color */
  font-weight: bold; /* Makes the legend text bold */
}

/* LIST */

body {
  font-family: Arial, sans-serif; /* Use a modern font-family */
  background-color: #f4f4f4; /* Light gray background for better contrast */
  color: #333; /* Dark gray text for better readability */
  padding: 20px; /* Add padding around the content for spacing */
}

table {
  width: 100%; /* Full-width to maximize space */
  border-collapse: collapse; /* Ensures borders between cells are merged */
  margin-top: 20px; /* Space above the table */
}

th, td {
  text-align: left; /* Align text to the left */
  padding: 12px; /* Ample padding in cells for content separation */
  border-bottom: 1px solid #ccc; /* Light gray border for each row */
}

th {
  background-color: #e9e9e9; /* Slightly darker background for header */
  font-weight: normal; /* Avoid bold headers */
}

tr:hover {
  background-color: #f9f9f9; /* Highlight rows on hover for better interaction feedback */
}

input[type="checkbox"] {
  margin-right: 10px; /* Space between checkbox and label text */
}

 /* Specific column widths */
 .select-col {
  width: 5%; /* Narrow column for checkboxes */
}

.id-col {
  width: 10%; /* Width for ID column */
}

.title-col {
  width: 85%; /* Maximum width for Title to utilize space */
}

/* control panel*/

.button-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container-buttons {
  margin-bottom: 10px;
}

.dropdown-arrow {
  font-size: 12px;
  margin-left: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content label {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.btn-primary {
  display: inline-block;
  margin-right: 10px;
}

fieldset {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
}

legend {
  padding: 0 5px;
  font-size: 16px;
}


/* filter*/

.checkbox-section {
  width: 100%; /* Take up full container width */
  background-color: #f4f4f4; /* Light background color */
  border-top: 1px solid #ccc; /* Add a subtle top border for separation */
  padding: 10px 0; /* Padding for aesthetic spacing */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Optional shadow for depth */
  display: none; /* Initially hidden */
}

/* Adjust individual checkbox labels for better spacing and alignment */
.checkbox-section label {
  display: block; /* Make each label a block to span the full width */
  margin: 5px 20px; /* Provide some margin around labels */
  font-size: 16px; /* Increase font size for readability */
}


/*  SRACHHH* /
/* Search Container Styling */
.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px; /* Adds space below the search bar */
}

.search-container label {
  font-weight: bold;
  color: #333;
}

#search-id {
  padding: 8px;
  width: 200px; /* Set width as needed */
  border: 1px solid #ccc;
  border-radius: 4px;
}

#search-id:focus {
  border-color: #4a90e2;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(74, 144, 226, 0.6);
}

/* Container for search and buttons */
.search-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px; /* Space below the container */
  background-color: #ebecf0;
  padding: 10px;
  border-radius: 6px;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.buttons-container {
  display: flex;
  gap: 10px;
}

#search-id {
  padding: 8px;
  width: 85%; /* Adjusts based on the container width */
  max-width: 1200px; /* Optional: Set a max-width for larger screens */
  border: 1px solid #ccc;
  border-radius: 4px;
}

#search-id:focus {
  border-color: #4a90e2;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(74, 144, 226, 0.6);
}

.btn-primary {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.btn-primary:hover {
  background-color: #519839;
  box-shadow: 0 2px 3px rgba(0,0,0,0.1);
}

/* Styling for the Selected and Shown Cases Section */
.cases-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f4f6f8;
  border-radius: 8px;
  padding: 10px 20px;
  margin-top: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cases-info-item {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.cases-info-item p {
  margin: 0;
}

.cases-info-item span {
  color: #5aac44;
  font-size: 18px;
}

#test-suites-list, #test-case-selection-list {
  list-style: none;
  padding: 0;
}
#test-suites-list li, #test-case-selection-list li {
  padding: 10px;
  margin-top: 5px;
  background-color: #e9e9e9;
  border-radius: 5px;
}

#test-case-selection-list li {
  padding: 5px;
  border-bottom: 1px solid #e9e9e9;
}

#test-case-selection-list li:last-child {
  border-bottom: none;
}

#test-suites-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e9e9e9;
  border-radius: 5px;
  padding: 10px;
  margin-top: 5px;
}

#test-suites-list li .suite-info {
  font-weight: bold;
}

.btn-delete {
  background-color: #d9534f;
}

.btn-delete:hover {
  background-color: #c9302c;
}

.btn-primary, .btn-delete {
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  color: white;
  margin-left: 10px;
}

.btn-primary:hover, .btn-delete:hover {
  opacity: 0.85;
}


button:disabled {
  background-color: #ccc; /* Light grey color indicating disabled state */
  color: #666; /* Darker text color for better contrast */
  cursor: not-allowed; /* Cursor to indicate the button cannot be clicked */
  opacity: 0.5; /* Make the button look faded to indicate it is inactive */
  animation: none; /* Remove animations if any */
}

button {
  transition: background-color 0.3s ease; /* Smooth transition for background color change */
  /* Your existing button styles */
  background-color: blue; /* Normal state color */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Ensure there are no hover effects for disabled button */
button:disabled:hover {
  background-color: #ccc; /* Keep the background color the same as the disabled state */
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  text-align: center; /* Center the text inside the modal */
}

.warning-sign {
  color: #f1c40f; /* Gold color for the warning sign */
}

.modal-header {
  font-weight: bold;
  color: #e74c3c; /* Red color for the header for attention */
}

.error-message {
  color: #2c3e50; /* Dark blue color for message */
}
